
		<ul class='agentlist'>
		{%for agent in agents %}
			<li><a href="{{agent.url}}">
				<h3>{% filter force_escape %}{{ agent.name }}{% endfilter %}</h3>
				<span class='relation'>{% filter force_escape %}{{agent.rel}}{% endfilter %}</span>
			{% if list == "postal" %}
                		{%for address in agent.formattedaddresses %}
                        		<span class='address'>{{address}}</span>
                		{%endfor%}
			{% endif %}
			{% if list == "phone" %}
                		{%for num in agent.phone %}
                        		<span class='phonenum'>{{num}}</span>
                		{%endfor%}
			{% endif %}
			{% if list == "gifts" and agent.giftideas %}
				<span class='gift_idea'>Ideas: {{agent.giftideas}}</span>
			{% endif %}
			</a></li>
		{% endfor %}
		</ul>