{% extends "agents/base.html" %}

{% block title %}LucOs - {{ name }}{% endblock %}
{% block body %}
		
		<nav>
			<a href="/agents" class='navback'>&lt;- Contact List</a>
			<a href="{{ editurl }}" class='navedit'>Edit -&gt;</a>
		</nav>
		<h1 id='title'>{{ name }}</h1>
		{%for num in phone %}
			<a class='phonenum' href="tel:{{num}}">{{num}}</a>
		{%endfor%}
                {%for address in formattedaddresses %}
                        <span class='address'>{{address}}</span>
                {%endfor%}
		{%for userid in facebookaccounts %}
			<span class='facebooklink'><a href="https://www.facebook.com/profile.php?id={{userid}}" target="_blank"><img src="https://graph.facebook.com/{{userid}}/picture" /> Facebook</a></span>
		{%endfor%}
        {%if relations %}
        <h2>Relations</h2>
			{% include "agents/agentlist.html" with agents=relations %}
		{%endif%}
{% endblock %}