<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
	<head>
		<meta name="viewport" content="initial-scale=1.0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<link rel="apple-touch-icon" href="http://l42.eu/ios.png"/>
		<script type='text/javascript' src='http://l42.eu/bootloader'></script>
		<title>LucOs - Add New Contact</title>
	</head>
	<body>
		<nav>
			<a href="/agents" class='navback'>&lt;- Contact List</a>
		</nav>
		<h1 id='title'>Add New Contact</h1>
		<form action='/agents/add' method='post'>{% csrf_token %}
			<label>Name (EN): <input name='name_en' /></label>
			<label>Ainm (GA): <input name='name_ga' /></label>
			<label>Ainm (GD): <input name='name_gd' /></label>
			<label>Enw (CY): <input name='name_cy' /></label>
			<input type="submit" value="Add" />
		</form>
	</body>
</html>
