<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
	<head>
		<meta name="viewport" content="initial-scale=1.0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<link rel="apple-touch-icon" href="/resources/logo.png"/>
		<link rel="icon" href="/resources/logo.png" />
		<link rel="stylesheet" href="/resources/style.css" />
		<title>{% block headtitle %}{% endblock %}</title>
	</head>
	<body>
		<div id="lucos_navbar">
			<a href="https://l42.eu/">
				<img src="https://l42.eu/logo.png" alt="lucOS" style="">
			</a>
			<h1 id="lucos_navbar_title">
				{% block title %}{% endblock %}
			</h1>
		</div>
		<nav id="subnav">
			{% block subnav %}{% endblock %}
		</nav>
		{% block body %}{% endblock %}
	</body>
</html>
