<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
	<head>
		<meta name="viewport" content="initial-scale=1.0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<link rel="apple-touch-icon" href="/icon"/>
		<link rel="shortcut icon" href="/icon"/>
		<script type='text/javascript' src='http://l42.eu/bootloader'></script>
		<title>LucOs - Contacts</title>
	</head>
	<body>
		<nav>
			<span class='navswitch'>
				<a href="/agents/all" class="{% if list == "all" %}current{% endif %}">All</a>
				<a href="/agents/phone" class="{% if list == "phone" %}current{% endif %}">Phonebook</a>
				<a href="/agents/postal" class="{% if list == "postal" %}current{% endif %}">Address Book</a>
			</span>
			<a href="/agents/add" class='navedit'>Add -&gt;</a>
		</nav>
		{% include "agents/agentlist.html" %}
	</body>
</html>
