
		<ul class='agentlist'>
		{%for agent in agents %}
			<li><a href="{{agent.url}}" {% if agent.isDead %}class="isdead"{% endif %}>
				<span class="star" data-agentid="{{agent.id}}" data-starred="{{agent.starred}}"></span>
				<h3>{{ agent.name }}</h3>
				<span class='relation'>{{agent.rel}}</span>
			{% if list == "postal" %}
                		{%for address in agent.formattedaddresses %}
                        		<span class='address'>{{address}}</span>
                		{%endfor%}
			{% endif %}
			{% if list == "phone" %}
                		{%for num in agent.phone %}
                        		<span class='phonenum'>{{num}}</span>
                		{%endfor%}
			{% endif %}
			</a></li>
		{% endfor %}
		</ul>