{% extends "agents/base.html" %}

{% block headtitle %}LucOs - {{ name }}{% endblock %}
{% block title %}{{ name }}{% endblock %}
{% block body %}
		{%if isDead %}
			<div id="dead">
				<span class="rest-in-peace">Rest In Peace</span>
				{%if formattedDeathDate %}
					<span class="label">Date of Death:</span> {{formattedDeathDate}}
				{%endif%}
			</div>
		{%endif%}
		{%if altnames %}
			<div id="altnames">
				<h4>Also Known As</h4>
				<ul>
				{%for altname in altnames %}
					<li>{{altname}}</li>
				{%endfor%}
				</ul>
			</div>
		{%endif%}
		{%if bio %}
			<div id="bio">
				<span class="content">{{bio}}</span>
			</div>
		{%endif%}
		
		{%for num in phone %}
			<a class='account phonenum' href="tel:{{num}}">{{num}}</a>
		{%endfor%}
		{%for address in email %}
			<a class='account email' href="mailto:{{address.raw}}" target="_blank">{{ address.view }}</a>
		{%endfor%}
		{%for address in formattedaddresses %}
			<span class='account postal'>{{address}}</span>
		{%endfor%}
		{%for userid in facebookaccounts %}
			<a href="https://www.facebook.com/profile.php?id={{userid}}" target="_blank" class='account facebook'><img src="https://graph.facebook.com/{{userid}}/picture" /> Facebook</a>
		{%endfor%}
		{%if formattedBirthday %}
			<div id="birthday">
				<span class="label">Birthday:</span> {{formattedBirthday}}
			</div>
		{%endif%}
		{%if notes %}
			<div id="notes">
				<h2>Notes</h2>
				<span class="content">{{notes}}</span>
			</div>
		{%endif%}
		{%if giftideas %}
			<details id="giftideas">
				<summary>Gift Ideas</summary>
				<span class="content">{{giftideas}}</span>
			</details>
		{%endif%}
		{%if relations %}
			<div id="relations">
				<h2>Relations</h2>
				{% include "agents/agentlist.html" with agents=relations %}
			</div>
		{%endif%}
{% endblock %}
{% block subnav %}
	<div class="breadcrumbs">
		<span class="navswitch">
		<a href="/">Contact List</a>
		&rsaquo; {{ name }}
		</span>
	</div>
	<nav class="tools">
		<a href="{{ editurl }}" class='toollink navedit'>Edit</a>
	</nav>
{% endblock %}