{% extends "agents/base.html" %}
{% load i18n %}

{% block headtitle %}LucOs - Contacts{% endblock %}
{% block title %}Contacts{% endblock %}
{% block body %}
		{% include template %}
{% endblock %}
{% block subnav %}
	<nav class="tools">
		<a href="{{addurl}}" class='toollink navadd'>{% trans 'Add' %}</a>
	</nav>
	<div class="breadcrumbs">
		<span class="navswitch">
			<a href="/people/starred" class="{% if list == "starred" %}current{% endif %}">{% trans 'Starred' %}</a> |
			<a href="/people/phone" class="{% if list == "phone" %}current{% endif %}">{% trans 'Phonebook' %}</a> |
			<a href="/people/postal" class="{% if list == "postal" %}current{% endif %}">{% trans 'Address Book' %}</a> |
			<a href="/people/gifts" class="{% if list == "gifts" %}current{% endif %}">{% trans 'Gift List' %}</a> |
			<a href="/calendar" class="{% if list == "calendar" %}current{% endif %}">{% trans 'Calendar' %}</a> |
			<a href="/people/all" class="{% if list == "all" %}current{% endif %}">{% trans 'All' %}</a>
		</span>
	</div>
{% endblock %}