version: 2.1
orbs:
  lucos: lucos/deploy@0
jobs:
  test:
    docker:
      - image: cimg/base:current
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Populate known_hosts
          command: |
            ssh-keyscan -p 2202 -H creds.l42.eu >> ~/.ssh/known_hosts
      - run:
          name: Fetch test envfile
          command: |
            scp -s -P 2202 -o BatchMode=yes tests@creds.l42.eu:$CIRCLE_PROJECT_REPONAME/test/.env .
          working_directory: app
      - run:
          name: Run tests for django app
          command: docker compose --profile test up test --build --exit-code-from test
      - run:
          name: Delete envfile
          command: |
            rm -f .env
workflows:
  version: 2
  build-deploy:
    jobs:
      - test
      - lucos/build-amd64
      - lucos/deploy-avalon:
          serial-group: << pipeline.project.slug >>/deploy-avalon
          requires:
            - test
            - lucos/build-amd64
          filters:
            branches:
              only:
                - main