[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==6.0.2"
gunicorn = "==25.1.0"
requests = "*"
django-phonenumber-field = {extras = ["phonenumbers"], version = "*"}
icalendar = "*"
psycopg = "*"
rdflib = "*"

[dev-packages]

[requires]
python_version = "3.12"
