[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==5.1.2"
gunicorn = "==23.0.0"
requests = "*"
django-phonenumber-field = {extras = ["phonenumbers"], version = "*"}
icalendar = "*"
psycopg = "*"

[dev-packages]

[requires]
python_version = "3.12"
