[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2.20"
gunicorn= "==20.1.0"
requests = "*"
django-phonenumber-field = {extras = ["phonenumbers"], version = "*"}

[dev-packages]

[requires]
python_version = "3.7"
