{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
<nav id="subnav">
	<div class="breadcrumbs">
		<a href="/">{% trans 'Contact List' %}</a>
		&rsaquo; <a href="{% url 'admin:index' %}">{% trans 'Admin' %}</a>
		&rsaquo; {% trans 'Server error' %}
	</div>
</nav>
{% endblock %}

{% block title %}{% trans 'Server error (500)' %}{% endblock %}

{% block content %}
<h1>{% trans 'Server Error <em>(500)</em>' %}</h1>
<p>{% trans "There's been an error. It's been reported to the site administrators via email and should be fixed shortly. Thanks for your patience." %}</p>

{% endblock %}
